body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center; /* Inhalt in der Mitte der Seite */
}

.container{
  overflow: scroll;
  background-color: grey;
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

main{
  color: black;
}

/* Text zentrieren in den Hauptbereichen */
main,
#title,
#tribute-info,
blockquote,
#endh3 {
  text-align: center;
}

#title{
  font-size: 10px;
  background: rgba(222, 206, 32, 0.201);
}

.h1t1{
  font-size: 3rem;
  margin-top: 20px;
}

.hpt2{
  padding-top: 15px;
  font-weight: 200;
}

/* Bild */
.image{
  display: block;
  max-width: 100%;
  height: auto;
  transform: scale(0.9);
  border-radius: 10px;
}

/* Caption */
#img-caption{
  padding: 10px;
  margin-top: -20px;
}

/* Timeline Überschrift */
#h3ertribut{
  margin-top: 30px;
  font-size: 1.5rem;
}

/* Timeline Liste */
.timeblock ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
}

.timeblock li {
  margin-top: 15px;
  display: block;
  margin-bottom: 35px;
  text-align: center;
}

.timeblock {
  margin: 0 auto; /* statt margin-left:20px → zentriert */
}

ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

blockquote p {
  margin-top: 50px;
}

#endh3{
  margin-top: 20px;
}
